* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightpink;
    font-family: 'Prosto One', cursive;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    padding: 36px;
}
.container p {
    font-size: 18px;
    margin: 16px;
    text-align: center;
}
.image {
    height: 100%;
    width: 100%;
  margin-bottom: 16px;
  border-radius: 100px;
}
.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color:beige;
    min-width: 320px;
}
.countdown-item {
    background-color: darkorange;
    padding: 6px;
    min-width: 65px;
    border-radius: 100px;
}
.expired {
    color:black;
    margin: 0 auto;
    font-size: 32px;
}